@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

#top {
  text-align: center;
  color: white;
  margin: 5%;
  padding: 5%;
  background-color: #455A64;
  font-size: 150%;
}

#footer {
  background-color: #455A64;
  text-align: center;
  padding: 2%;
  color: white;
}

#footer a {
  color: white;
  text-align: center;
    margin: 10px;
}

.media {
  margin-top: 20px;
}
