@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto');

body {
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'Raleway', sans-serif;
}

#top {
  text-align: center;
  color: white;
  padding: 10%;
  background-color: #455A64;
  font-size: 100%;
}

#quote {
    background-color: #1abc9c;
    padding: 5%;
    color: white;
}

#quote-field {
    background-color: #16a085;
    padding: 5%;
    text-align: center;
}

#button-content {
    text-align: right;
}

#footer {
  background-color: #455A64;
  text-align: center;
  padding: 2%;
  color: white;
}

#footer a {
  color: white;
  text-align: center;
    margin: 10px;
}

.media {
  margin-top: 20px;
}
